body {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/djgibqxxv/image/upload/v1697074244/Hang/qo2xtoi31i6qlptzcfma.jpg) ;
}


.card:hover {
    transform: translateY(-3px);
    transition: ease-in-out 0.5s;
    color: #ffff;
    text-shadow: 0 0 5px #ffff;
}