<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spotGROUNDS</title>
</head>

<body>
    <h1>All spotGrounds</h1>

    <ul>
        <% for (let spot of spotGrounds) { %>
            <li><a href="spotgrounds/<%= spot._id  %>"><%= spot.title  %></a></li>

        <% } %>
    </ul>
    
</body>
</html>