<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New SpotGround</title>
</head>

<body>
    <form action="/spotgrounds" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" name="" id="title" name="spotground[title]">
        </div>

        <div>
            <label for="location">Location</label>
            <input type="text" name="location" id="title" name="spotground[location]">
        </div>

        <button>Add Spot</button>

    </form>
</body>

</html>